.navbar {
  padding: 2.4rem 0;
  margin-bottom: 4.8rem;
  width: 100%;
  position: relative;
}

.navbar.sticky {
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  animation: fadeIn 0.8s;
  /* timing-function delay iteration-count direction fill-mode; */
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  gap: 2.4rem;
}

.navbar__list > *:not(:last-child) {
  margin-right: 2.4rem;
}

.navbar__link {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.navbar__menu-open,
.navbar__menu-close {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navbar__list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 95vh;
    z-index: 2;
    transform: translateX(-1000px);
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .open--menu {
    transform: translateX(0);
  }

  .navbar__list > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2.4rem;
  }

  .navbar__link {
    font-size: 2.4rem;
  }

  .navbar__cta {
    display: none;
  }

  .navbar__menu-open,
  .navbar__menu-close {
    display: block;
    cursor: pointer;
  }

  .navbar__menu-close {
    position: absolute;
    top: 2.4rem;
    right: 1.6rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
