[class^="heading--"] {
  font-weight: 700;
  color: inherit;
}

.heading--display {
  font-size: clamp(4rem, 4.8vw, 6.4rem);
  line-height: clamp(4.8rem, 5.6vw, 7.2rem);
  margin-bottom: 1.2rem;
}

.heading--primary {
  font-size: clamp(2.4rem, 3.2vw, 4.8rem);
  line-height: clamp(3.2rem, 4vw, 5.6rem);
  margin-bottom: 2.4rem;
}

.heading--secondary {
  font-size: clamp(2.4rem, 2.7vw, 3.9rem);
  line-height: clamp(3.2rem, 3.2vw, 4.8rem);
  margin-bottom: 4rem;
}

.heading--tertiary {
  font-size: clamp(2.4rem, 2.8vw, 3.2rem);
  line-height: clamp(3.2rem, 3.2rem, 4rem);
}

.heading--caption {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.04rem;
  color: inherit;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
