* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #222237;
  background-color: #f5f5f5;
}

p {
  margin-bottom: 0.7rem;
}

a {
  text-decoration: none;
}

.text--gradient {
  display: inline-block;
  background: linear-gradient(95.06deg, #ea5b0c -20.91%, #e71d73 94.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
}

.fw--800 {
  font-weight: 800;
}

/*  */

.wrapper {
  max-width: 100rem;
  margin: auto;
}

.email--template {
  padding-top: 6.4rem;
}

.email--template-img {
  max-width: 30rem;
  margin-bottom: 6.4rem;
}

.email--template img {
  max-width: 100%;
}

.votes--of--appreciation,
.participant--details {
  margin-bottom: 3.2rem;
}

.participants--info {
  font-weight: 600;
}

.verify--registration {
  font-weight: 800;
  margin-bottom: 0.9rem;
}

.important--notes {
  max-width: 50rem;
}

.points--to--note {
  font-weight: 600;
}

/*  */
.learn-more {
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 6.4rem;
  padding-bottom: 5.3rem;
}

.big--ideas {
  max-width: 10rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
}

.footer--emphasis {
  font-weight: 800;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.8rem 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footer__nav a {
  color: #222237;
  text-transform: uppercase;
}

.footer__socials > *:not(:last-child) {
  margin-right: 1.2rem;
}

.learn-more__text {
  max-width: 50rem;
  line-height: 2.5rem;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    padding: 2.4rem;
  }
}
